:root {
    --tardis-blue: #102372;
    --white: #FFF9EC;
    --orange: #FF7F11;
}

body {
    background-color: var(--tardis-blue);
    color: var(--white);
}


.carousel-control-prev {
    left: -80px;
}

.carousel-control-next {
    right: -80px;
}

.masthead {
    padding-bottom: 50px;
    padding-top: 30px;
}

.text-center {
    text-align: center;
}

.quote {
    padding-top: 50px;
    color: var(--white);
}

.blockquote-footer {
    color: var(--white);
}

.card img { 
  height: 400px;
  object-fit: contain;
}

.nav-img {
    height: 60px;
}

.navbar {
    background-color: var(--orange) !important;
}